.arkEsDenseBold {
    font-family: 'ARK-ES-DenseBold', sans-serif;
  }
  
  .arkEsDenseLight {
    font-family: 'ARK-ES-DenseLight', sans-serif;
  }
  
  .arkEsDenseMedium {
    font-family: 'ARK-ES-DenseMedium', sans-serif;
  }
  
  .arkEsDenseRegular {
    font-family: 'ARK-ES-DenseRegular', sans-serif;
  }
  
  .arkEsSolidBold {
    font-family: 'ARK-ES-SolidBold', sans-serif;
  }
  
  .arkEsSolidLight {
    font-family: 'ARK-ES-SolidLight', sans-serif;
  }
  
  .arkEsSolidMedium {
    font-family: 'ARK-ES-SolidMedium', sans-serif;
  }
  
  .arkEsSolidRegular {
    font-family: 'ARK-ES-SolidRegular', sans-serif;
  }
  
  .betatronRegular {
    font-family: 'Betatron-Regular', sans-serif;
  }
  
  .fablab {
    font-family: 'Fablab', sans-serif;
  }
  
  .generalestationRegular {
    font-family: 'GeneraleStation-Regular', sans-serif;
  }
  
  .gridularRegular {
    font-family: 'Gridular-Regular', sans-serif;
  }
  
  .handjet {
    font-family: 'Handjet', sans-serif;
  }
  
  .healthewebaRegular {
    font-family: 'HealTheWebA-Regular', sans-serif;
  }
  
  .meyrin {
    font-family: 'Meyrin', sans-serif;
  }
  
  .monoBiletikRegular10 {
    font-family: 'Mono_Biletik-Regular_1_0', monospace;
  }
  
  .panameraBold {
    font-family: 'Panamera-Bold', sans-serif;
  }
  
  .panameraHeavy {
    font-family: 'Panamera-Heavy', sans-serif;
  }
  
  .panameraLight {
    font-family: 'Panamera-Light', sans-serif;
  }
  
  .panameraMedium {
    font-family: 'Panamera-Medium', sans-serif;
  }
  
  .panameraRegular {
    font-family: 'Panamera-Regular', sans-serif;
  }
  
  .panameraThin {
    font-family: 'Panamera-Thin', sans-serif;
  }
  
  .pilowlavaRegular {
    font-family: 'Pilowlava-Regular', cursive;
  }
  
  .radio {
    font-family: radio, monospace;
  }