@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes shadow-color {
  0% {
    --tw-shadow-color: rgb(255, 0, 0);
  }
  25% {
    --tw-shadow-color: rgb(0, 255, 0);
  }
  50% {
    --tw-shadow-color: rgb(0, 0, 255);
  }
  75% {
    --tw-shadow-color: rgb(255, 255, 0);
  }
  100% {
    --tw-shadow-color: rgb(255, 0, 255);
  }
}

.shadow-animation {
    animation: shadow-color 5s infinite;
}

@font-face {
  font-family: 'Copula';
  src: url('./fonts/Copula.otf') format('opentype');
}

@font-face {
  font-family: 'n27-bold-webfont';
  src: url('./fonts/n27-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-bolditalic-webfont';
  src: url('./fonts/n27-bolditalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-extralight-webfont';
  src: url('./fonts/n27-extralight-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-extralightitalic-webfont';
  src: url('./fonts/n27-extralightitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-light-webfont';
  src: url('./fonts/n27-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-lightitalic-webfont';
  src: url('./fonts/n27-lightitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-medium-webfont';
  src: url('./fonts/n27-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-mediumitalic-webfont';
  src: url('./fonts/n27-mediumitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-regular-webfont';
  src: url('./fonts/n27-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-regularitalic-webfont';
  src: url('./fonts/n27-regularitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-thin-webfont';
  src: url('./fonts/n27-thin-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'n27-thinitalic-webfont';
  src: url('./fonts/n27-thinitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Waffold';
  src: url('./fonts/Waffold.woff') format('woff');
}